@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 500;
  src: local('Whitney'), url('../src/assets/fonts/whitneymedium.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  font-style: italic;
  font-weight: 500;
  src: local('Whitney'), url('../src/assets/fonts/whitneymediumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 700;
  src: local('Whitney'), url('../src/assets/fonts/whitneybold.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 600;
  src: local('Whitney'), url('../src/assets/fonts/whitneysemibold.woff') format('woff');
}

@font-face {
  font-family: 'Whitne';
  font-style: normal;
  font-weight: 400;
  src: local('Whitney'), url('../src/assets/fonts/whitneybook.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 300;
  src: local('Whitney'), url('../src/assets/fonts/whitneylight.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  font-style: italic;
  font-weight: 600;
  src: local('Whitney'), url('../src/assets/fonts/whitneySemiboldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  font-style: italic;
  font-weight: 400;
  src: local('Whitney'), url('../src/assets/fonts/whitneybookitalic.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  font-style: italic;
  font-weight: 300;
  src: local('Whitney'), url('../src/assets/fonts/whitneylightitalic.woff') format('woff');
}
